.mastermindTitle{
    text-align: center;
}

.mastermindSettingsContainer{
    text-align: center;
}

.mastermindSettingsLabelContainer{
    text-align: center;
}

.mastermindSettingsLabel{
    margin-bottom: 0;
}

.mastermindSettingsOption{
    text-align: center;
}

@media (min-width: 576px){
    div.mastermindSettingsLabelContainer{
        text-align: right;
        padding-right: 0;
    }
    
    div.mastermindSettingsOption{
        text-align: left;
        padding-left: 0;
    }
}

.mastermindGuessTableContainer{
    text-align: center;
}

.mastermindGuessTable{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.mastermindGuessTable td{
    text-align: center;
    border: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

.mastermindButtonContainer{
    text-align: center;
}

.masterminBottomText{
    text-align: center;
}