.mainPage{
    margin-left: 10px;
}

.infoSection{
    margin-left: 10px;
    margin-top: 20px;
}

.infoSectionTitle{

}

.infoSectionLine{
    margin-left: 10px;
    display: block;
}

.infoSectionList{

}

.infoSectionListItem{
    
}

.notFoundPage{

}

.notFoundPageText{
    text-align: center;
}
