.rowNoMargin{
    margin-left: 0;
    margin-right: 0;
}

.pageContainer{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pageContentConainer{
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainPage{
    
}

.mainPageTitle{
    text-align: center;
}

.profilePicture{
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #212529;
    height: 322px;
    width: 242px;
}

.externalLink{
    display: block;
}

.linkImage{
    height: 20px;
    width: 20px;
    margin: 5px;
}

.infoSection{
    margin-left: 10px;
    margin-top: 20px;
}

.infoSectionTitle{

}

.infoSectionLine{
    margin-left: 10px;
    display: block;
}

.infoSectionList{

}

.infoSectionListItem{
    
}

.footerContainer{
    flex-shrink: 0;
    background-color: #343a40;
    color: #fff;
}

.copyright{
    margin-left: 20px;
}

.notFoundPage{

}

.notFoundPageText{
    text-align: center;
}
