.mainPage{
    
}

.mainPageTitle{
    text-align: center;
}

.externalLink{
    display: block;
    
}

.linkImage{
    height: 20px;
    width: 20px;
    margin: 5px;
}

.infoSection{
    margin-left: 10px;
    margin-top: 20px;
}

.infoSectionTitle{

}

.infoSectionLine{
    margin-left: 10px;
    display: block;
}

.infoSectionList{

}

.infoSectionListItem{
    
}

.notFoundPage{

}

.notFoundPageText{
    text-align: center;
}
